    <!-- modal detalles de administracion archivo central -->
    <div id="modal_containerAAC" class="modal-container">
        <div class="modal">
            <h3>Detalles: Administración archivo central</h3>
            <main class="home">
                <form action="" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> <i class="fa-solid fa-toolbox"></i> Instrumento archivistico </th>
                                <th><i class="fa-solid fa-chart-line"></i> Macro actividad</th>
                                <th><i class="fa-solid fa-file-contract"></i> Actividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <hr>TVD
                                </td>
                                <td>
                                    <hr>FUID
                                </td>
                                <td>
                                    <hr>Asignatura topografica
                                </td>

                            <tr>
                                <td>
                                    <hr>CCD
                                </td>
                                <td>
                                    <hr>CCD
                                </td>
                                <td>
                                    <hr>.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>TRD
                                </td>
                                <td>
                                    <hr>TRANSFERENCIAS DOCUMENTALES
                                </td>
                                <td>
                                    <hr>Primarias
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td> </td>
                                <td>Secundarias</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>SELECCIÓN</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>MT (DIGITALIZACIÓN)</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>ELIMINACIÓN</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>INVENTARIOS
                                </td>
                                <td>
                                    <hr>FUID
                                </td>
                                <td>
                                    <hr>Signatura tipográfica
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>PGD
                                </td>
                                <td>
                                    <hr>PROGRAMA DE NORMALIZACIÓN DE FORMAS Y FORMULARIOS ELECTRÓNICOS
                                </td>
                                <td>
                                    <hr>.
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PROGRAMA DE DOCUMENTOS VITALES O ESENCIALES</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PROGRAMA DE GESTIÓN DE DOCUMENTOS ELECTRÓNICOS</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PROGRAMA DE REPROGRAFÍA</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PROGRAMA DE DOCUMENTOS ESPECIALES</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PLAN INSTITUCIONAL DE CAPACITACIÓN</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PROGRAMA DE AUDITORIA Y CONTROL</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PROGRAMA DE ARCHIVOS DECENTRALIZADOS</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>
                                    <hr>PINAR
                                </td>
                                <td>
                                    <hr>IMPLEMENTACIÓN Y SEGUIMIENTO DE LOS PROGRAMAS ESPECÍFICOS DEL PROGRAMA DE
                                    GESTIÓN DOCUMENTAL (PGD)
                                </td>
                                <td>
                                    <hr>
                                </td>

                            <tr>
                                <td></td>
                                <td>IMPLEMENTACIÓN DEL SISTEMA INTEGRADO DE CONSERVACIÓN SIC </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>ADQUIRIR SISTEMA DE GESTIÓN DE DOCUMENTOS ELECTRÓNICOS DE ARCHIVOS SGDEA</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>ELABORACION Y PROCESO DE APROBACIÓN DE LAS TABLAS DE VALORACIÓN DOCUMENTAL (TVD)
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>ADQUISICIÓN Y ADECUACIÓN DE LA INFRAESTRUCTURA LOCATIVA DE AG Y AC</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>IDENTIFICAR, DEFINIR, DISEÑAR Y APLICAR EL ESQUEMA DE METADATOS</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>SIC
                                </td>
                                <td>
                                    <hr>PLAN DE CONSERVACIÓN DOCUMENTAL
                                </td>
                                <td>
                                    <hr>PROGRAMA DE CAPACITACIÓN Y SENSIBILIZACIÓN
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>PROGRAMA DE MANTENIMIENTO DE LAS INSTALACIONES FISICAS DE LOS ESPACIOS DESTINADOS AL
                                    ALMACENAMIENTO DOCUMENTAL</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>PROGRAMA DE MONITOREO Y CONTROL DE CONDICIONES AMBIENTALES
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>PROGRAMA DE SANEAMIENTO AMBIENTAL Y DESINFECCIÓN DOCUMENTAL
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>PROGRAMA DE ALMACENAMIENTO Y RE ALMACENAMIENTO
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>PROGRAMA PREVENCIÓN DE EMERGENCIAS Y ATENCIÓN DE DESASTRES
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PLAN DE PRESERVACION A LARGO PLAZO</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>TCA
                                </td>
                                <td>
                                    <hr>TCA
                                </td>
                                <td>
                                    <hr>.
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>PRESTAMOS Y CONSULTAS DOCUMENTALES</td>
                                <td>
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </main>
            <button type="reset" class="cancelar" id="closeAAC">Regresar</button>
        </div>
    </div>