    <!-- modal detalles de lineamientos archivos de gestion -->
    <div id="modal_containerLAG" class="modal-container">
        <div class="modal">
            <h3>Detalles: Lineaminetos archivos de gestión</h3>
            <main class="home">
                <form action="" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> <i class="fa-solid fa-toolbox"></i> Instrumento archivistico </th>
                                <th><i class="fa-solid fa-chart-line"></i> Macro actividad</th>
                                <th><i class="fa-solid fa-file-contract"></i> Actividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>INVENTARIOS</td>
                                <td>FUID</td>
                                <td>.</td>

                            <tr>
                                <td>
                                    <hr>NA
                                </td>
                                <td>
                                    <hr>AUDITORIAS INTERNAS
                                </td>
                                <td>
                                    <hr>.
                                </td>
                            </tr>

                            </tr>



                        </tbody>
                    </table>
                </form>
            </main>
            <button type="reset" class="cancelar" id="closeLAG">Regresar</button>
        </div>
    </div>