    <!-- modal detalles de administracion documental SGDEA -->
    <div id="modal_containerADS" class="modal-container">
        <div class="modal">
            <h3>Detalles: Administración documental SGDEA</h3>
            <main class="home">
                <form action="" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> <i class="fa-solid fa-toolbox"></i> Instrumento archivistico </th>
                                <th><i class="fa-solid fa-chart-line"></i> Macro actividad</th>
                                <th><i class="fa-solid fa-file-contract"></i> Actividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MOREQ</td>
                                <td>SGDEA</td>
                                <td>Cumplimientos de requisitos</td>

                            <tr>
                                <td>
                                    <hr>NA
                                </td>
                                <td>
                                    <hr>VENTANILLA ÚNICA DE CORRESPONDENCIA
                                </td>
                                <td>
                                    <hr>Seguimiento comunicaciones oficiales recibidas
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Seguimiento comunicaciones oficiales envidas</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Seguimiento comunicaciones oficiales internas</td>
                            </tr>
                            <tr>


                        </tbody>
                    </table>
                </form>


            </main>
            <button type="reset"  class="cancelar" id="closeADS">Regresar</button>
        </div>
    </div>