<!-- modal detalles de coodinacion -->
    <div id="modal_containerC" class="modal-container">
        <div class="modal">
            <h3>Detalles: Coordinación</h3>
            <main class="home">
                <form action="" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> <i class="fa-solid fa-toolbox"></i> Instrumento archivistico </th>
                                <th><i class="fa-solid fa-chart-line"></i> Macro actividad</th>
                                <th><i class="fa-solid fa-file-contract"></i> Actividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>NA</td>
                                <td>INFORMES</td>
                                <td>Autodiagnostico MIPG</td>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>FURAG</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Plan de acción</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Plan anticorrupción y atencion al ciudadano</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Monitoreo de riesgos</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Índicadores</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Hallazgos</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>No conformidades</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Informes de gestión ley 951</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Politica de gestión documental</td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>NA
                                </td>
                                <td>
                                    <hr>DOCUMENTOS DEL PROCESO SISTEMA DE GESTIÓN
                                </td>
                                <td>
                                    <hr>Caracterización
                                </td>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>Guía</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Procedimientos</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Protocolos</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Manual</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Formatos</td>
                            </tr>
                            <tr>
                                <td>
                                    <hr>NA
                                </td>
                                <td>
                                    <hr>EQUIPO D GERENCIA
                                </td>
                                <td>
                                    <hr>Equipo de gerencia
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </form>


            </main>
            <button type="reset" class="cancelar" id="closeC">Regresar</button>
        </div>
    </div>